<!DOCTYPE html>
<html>
<head>
    <title>{title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body {
            /*background-image: url("https://i.pinimg.com/originals/99/f5/1f/99f51fca0099a6dd517460860321f9de.jpg");*/
            /*background-image: url("https://i.ibb.co/G3JgSn5/cool-background.png");*/
            background-image: url("https://i.postimg.cc/SsXMBXQG/photo5165728759888849129.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
{#include menu}
{/include}
<div>
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
    </div>
    <!--    <div class="w3-display-middle">-->
    <!--        <h1 style="color: #062df1" class="w3-jumbo w3-animate-top">COMING SOON</h1>-->
    <!--        <hr class="w3-border-grey" style="margin:auto;width:40%">-->
    <!--        <p class="w3-large w3-center" style="color: #062df1">JULY 2021</p>-->
    <!--    </div>-->
</div>

</body>
</html>
