<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <title>{title}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>

</head>

<body>
{#include menu}
{/include}
<div class="container">
    <h2>Database List</h2>
        <div class="table-responsive">
            <table id="myTable">
                <tr class="header">
                    <th style="width:10%;"></th>
                    <th style="width:40%;">Name</th>
                    <!--        <th style="width:30%;">Username</th>-->
                    <!--        <th style="width:20%;">Password</th>-->
                </tr>
                {#if basesDeDatos}
                {#for db in basesDeDatos}
                <tr>
                    <td>
                        <input onclick="seleccionar($(this).closest('tr').index())" type="checkbox" id="checkbox{count}" name="checkbox{count}" value="1">
                    </td>
                    <td>{db}
                        <input type="hidden" id="nombre{count }" value="{db}">
                        <input type="hidden" id="input-conectado{count}">
                        <em id="conectado{count}" style="display: none" class="text-success">Connection Successful!</em>
                        <em id="no-conectado{count}" style="display: none" class="text-danger">Does not have access!</em>
                    </td>
                    <!--                <td><input type="text" name="username{count}" id="username{count}" placeholder="Username..." style="opacity: 0.6" readonly></td>-->
                    <!--                <td><input type="password" name="password{count}" id="password{count}" placeholder="****" style="opacity: 0.6" readonly></td>-->
                </tr>
                {/for}
                {/if}

            </table>
        </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <a id="conectar" class="btn btn-info float-right">Connect</a>
        </div>
    </div>
</div>

<script>
    function seleccionar(rowindex) {
        $('#myTable').find('tr').each(function (index) {
            var row = $(this);

            if (rowindex !== index) {
                row.find("#checkbox"+index).prop("checked", false);
                row.find("#username"+index).val("");
                row.find("#username"+index).prop('readonly', true);
                row.find("#username"+index).css({ opacity: 0.6});
                row.find("#password"+index).val("");
                row.find("#password"+index).prop("readonly", true);
                row.find("#password"+index).css({ opacity: 0.6});
                row.find("#input-conectado" + index).val("")
                row.find("#conectado"+index).hide();
                row. find("#no-conectado"+index).hide();

            }else {


                if (row.find("#checkbox"+index).is(':checked')) {
                    row.find("#username"+index).prop('readonly', false);
                    row.find("#username"+index).css({ opacity: 1});
                    row.find("#password"+index).prop("readonly", false);
                    row.find("#password"+index).css({ opacity: 1});
                } else {
                    row.find("#username"+index).val("");
                    row.find("#password"+index).val("");
                    row.find("#username"+index).prop('readonly', true);
                    row.find("#username"+index).css({ opacity: 0.6});
                    row.find("#password"+index).prop("readonly", true);
                    row.find("#password"+index).css({ opacity: 0.6});
                    row.find("#input-conectado" + index).val("")
                    row.find("#conectado"+index).hide();
                    row. find("#no-conectado"+index).hide();
                }
            }
        });
    }

    $(document).ready(function () {
        $('#conectar').click(function () {
            var obj = null;
            var seleccionado = false;
            var conectado = false;
            $('#myTable').find('tr').each(function (index) {
                var row = $(this);

                if (index !== 0) {
                    if (row.find("#checkbox"+index).is(':checked')) {
                        seleccionado = true;
                        conectado = row.find("#input-conectado" + index).val() === '1';
                        obj = {
                            name:  row.find("#nombre"+index).val(),
                            // username: row.find("#username"+index).val(),
                            // password: row.find("#password"+index).val(),
                        }
                    }
                }
            });

            if (!seleccionado) {
                alert('Debe seleccionar una base de datos');
            } else {
                if (obj) {
                    if (!obj.name) {
                        alert('Debe especificar un usuario para la base de dato elegida');
                       return;
                    }

                    // if (!obj.username){
                    //     alert('Debe especificar una contraseña la base de dato elegida');
                    //     return;
                    // }

                    const jsonData = JSON.stringify(obj);

                    if (conectado) {
                        document.cookie = "nombre" + '=' + obj.name;
                        document.cookie = "usuario" + '=' + obj.username;
                        document.cookie = "contrasena" + '=' + obj.password;
                        window.location.href='/microservices/db/table';
                    } else {
                        document.cookie = "nombre= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
                        document.cookie = "usuario= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
                        document.cookie = "contrasena= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
                        $.ajax({
                            type: "POST",
                            url: '/microservices/conectar',
                            contentType: 'application/json',
                            data: jsonData,
                            dataType: 'json'
                        }).done(function(data) {
                            console.log("Data sent successfully");
                            console.log(data);
                            if (data===true) {
                                guardarConexion(true);
                            } else {
                                guardarConexion(false);
                            }
                        }).error(function (jqXhr, textStatus, errorMessage) {
                            console.log("Error sending data");
                            console.log(jqXhr);
                            console.log(errorMessage);
                            console.log(textStatus);
                            guardarConexion(false);
                        });
                    }
                }
            }
        });
    });

    function guardarConexion(conectado) {
        $('#myTable').find('tr').each(function (index) {
            var row = $(this);

            if (index !== 0) {
                if (row.find("#checkbox"+index).is(':checked')) {
                    if (conectado) {
                        row. find("#conectado"+index).show();
                        row.find("#input-conectado"+index).val(1);
                        row. find("#no-conectado"+index).hide();
                    } else {
                        row. find("#no-conectado"+index).show();
                        row. find("#conectado"+index).hide();
                    }
                }
            }
        });

    }


</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
