<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <title>{title}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>

</head>

<body>
{#include menu}
{/include}
<div class="container">
    <h2>Tables Created</h2>

    <div class="table-responsive">
        <table id="myTable">
            <tr class="header">
                <th style="width:40%;">Name</th>
                <th style="width:30%;">Options</th>
            </tr>
            {#if tablasGeneradas}
            {#for tabla in tablasGeneradas}
            <tr>
                <td>{tabla.nombreTabla}<input type="hidden" id="nombre" value="{tabla.nombreTabla}"></td>
                <td>
                    <!--                    <button type="button" class="btn btn-primary" title="Ver informacion tabla" data-toggle="modal" data-target="#myModal{count}">-->
                    <!--                        <i class="fa fa-eye"></i>-->
                    <!--                    </button>-->
                    <a class="btn btn-info" href="/api/form/ver/codigos/{tabla.nombreTabla}"
                       title="View Generated Codes"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');" href="/api/form/eliminar/{count}" title="Delete Table"><i
                            class="fa fa-trash"></i></a>
                    <a class="btn btn-warning" href="/api/form/actualizar/{count}" title="Update Table"><i
                            class="fa fa-edit"></i></a>
                    <div class="modal" id="myModal{count}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">{tabla.nombreTabla}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                            <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Nombre
                                                </th>
                                                <th class="text-center">
                                                    Data type
                                                </th>

                                                <th class="text-center">
                                                    Primary Key
                                                </th>
                                                <th class="text-center">
                                                    NOT NULL
                                                </th>
                                                <th class="text-center">
                                                    UNIQUE
                                                </th>
                                                <th class="text-center">
                                                    Foreign Key
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {#for detalle in tabla.filas}
                                            <tr>
                                                <td>{detalle.nombre}</td>
                                                <td>{detalle.tipoAtributo}</td>
                                                <td class="text-center">
                                                    <span class="badge badge-{#if detalle.pkCheckcbox == true}success {#else}danger {/if}">{#if detalle.pkCheckcbox == true} Si {#else} No {/if}</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="badge badge-{#if detalle.notNullCheckbox == true}success {#else}danger {/if}">{#if detalle.notNullCheckbox == true} Si {#else} No {/if}</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="badge badge-{#if detalle.CheckBoxUnique == true}success {#else}danger {/if}">{#if detalle.CheckBoxUnique == true} Si {#else} No {/if}</span>
                                                </td>
                                                <td>
                                                    {#if fkTablaRelacionada != '0'}
                                                    <span>{detalle.fkTablaRelacionada}</span>
                                                    <br><span class="text-muted">{detalle.fkRelacion}</span>
                                                    {/if}
                                                </td>
                                            </tr>
                                            {/for}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {/for}
            {/if}
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 float-right">
            {#if tablasGeneradas}
            <a id="createapp" onclick="clickAlert()" class="btn btn-primary float-right" href="/api/createapp">Create APP</a>
            {/if}
            <a id="volver" class="btn btn-success float-right mr-2" href="/api/form">Add Table</a>
        </div>
    </div>
</div>
</div>


<script>

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
<script>
    function clickAlert() {
        alert("Application created on Downloads");
    }
</script>
